*.NEF
.DS_Store
tmpfileKnshMf
tmpfileNtpOJ6
tmpfileTvR5lx
test
testing
__pycache__/camera_utils.cpython-312.pyc
tmpfilesk5buY
tmpfileVzEbzq
__pycache__/camera_utils.cpython-312.pyc
python_venv

.DS_Store
